body {
  background-color: #fffcf2;
}


/*everything below is responsive, should be*/
header {
  background-color: #0b132b;
  color: #ffc759;
}

header h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 3vw;
  margin: 0px;
  font-size: 4vw;
}

header p {
  text-align: center;
  font-family: cursive, sans-serif;
  padding: 0 0 1vw 0;
  margin: 0px;
  font-size:2.5vw;
}

/*nav links*/
header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  margin-right: 50px;
  text-decoration: none;
  font-family: cursive, sans-serif;
  font-size: 2vw;
  color: #ffc759;
}

header nav ul li:last-child a {
  margin-right: 0;
}

main section h2 {
  text-align: center;
  font-family: fantasy;
  font-size: 3.1vw;
}


/*responsive sized profile pic*/
img {
  margin: 0 auto 35px auto;
  width: 23%;
  display: block;
}

.img-bg {
  background-color: #1c2541;
}

p {
  text-align: left;
  font-size: 3vw;
  font-family: monospace;
}


/*styling the ol & ul*/
ol, ul {
  font-size: 3vw;
  font-family: monospace;
}

footer {
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

/*styling class for the intro & about me section*/
.intro,.about {
  margin: 0 auto;
  width: 75%;
}

footer h2 {
  margin-bottom: 0;
  text-align: center;
  font-size: 3.1vw;
}

hr {
  text-align: center;
  width: 80%;
  border: .5px solid
}

footer ol {
  width: 100px;
  margin: 20px auto;
  padding-left: 15px;
}

.list li{
  margin-bottom: 15px;
}

/*for contact form*/
form {
  padding-right: 6px;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

.item-double {
  flex: 2;
  margin: 1px 50px 15px 50px;
}

.contactFont {
  font-size: 2.3vw;
}

/*responsive for screen above 800px wide*/
@media screen and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }

  header {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
  }

  header h1 {
    font-size: 2.7vw;
    padding: 1.3vw;
  }

  header p {
    font-size: 1.3vw;
  }

  header nav ul {
    align-items: center;
  }

  header nav ul li:last-child a {
    margin-right: 20px;
    padding-left: 10px;
  }

  hr {
    text-align: center;
    width: 57%;
    border: .5px solid
  }

  .intro,.about {
    margin: 0 auto;
    width: 55%;
  }

  footer {
    font-size: 1vw;
  }

  footer h2 {
    font-size: 2vw;
  }

  ol, ul{
    font-size: 1vw;
  }

  main section h2 {
    font-size: 2vw;
  }

  p {
    font-size: 1vw;
  }

  header a:link {
    color: #ffc759;
  }
  
  header a:hover {
    color: #73db8d;
  }
  
  header a:active {
    color: #c95c3a;
  }

  .contactFont {
    font-size: 1.1vw;
  }

  footer a:link {
    color: #000000;
  }
  
  footer a:hover {
    color: #12263a;
  }
  
  footer a:active {
    color: #2997d8;
  }
}

